#version=RHEL7
# System authorization information
auth --enableshadow --passalgo=sha512
# Install OS instead of upgrade
install
# Use network installation
url --url="{{.NextServer}}/rhel/7"
# Use text mode install
text
# Firewall configuration
firewall --enabled --service=ssh
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts=''
# System language
lang en_US.UTF-8
# Network information
network  --bootproto=dhcp
unsupported_hardware
# Reboot after installation
reboot --eject
# Root password
rootpw --plaintext password
# SELinux configuration
selinux --permissive
# System services
services --enabled="chronyd"
# Do not configure the X Window System
skipx
# System timezone
timezone Asia/Shanghai --isUtc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
part /boot --asprimary --fstype="xfs" --ondisk=sda --size=500
part pv.101 --fstype="lvmpv" --ondisk=sda --size 1 --grow
part biosboot --asprimary --fstype="biosboot" --ondisk=sda --size=1
volgroup rootvg01 --pesize=4096 pv.101
logvol /  --fstype="xfs" --grow --size=1 --name=root --vgname=rootvg01
logvol swap  --fstype="swap" --size=7936 --name=swap --vgname=rootvg01

%packages
@core
chrony
kexec-tools

%end